@{
    ViewBag.Title = "Backlog";
}
.
<h2>Index</h2>

<p>Hello from our View Template!</p>

<input type="button" value="Go to First view" onclick="@("window.location.href='" + @Url.Action("First", "Backlog") + "'")" />